@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-1nlly2f .rs__cell.rs__header>:first-of-type{
  background-color: #47AE80;
}

.css-1nlly2f .rs__cell.rs__time{
  background-color: #47AE80
}

.css-1dhij82 .rs__cell.rs__header>:first-of-type{
  background-color: #47AE80;
}
.css-1dhij82 .rs__cell:not(.rs__time){
  background-color: #47AE80
}

.css-vkc4v8-MuiTypography-root{
  color:#ef4444 !important;
}

.css-9gno0l .rs__cell:not(.rs__time){
  background-color: #47AE80
}
.css-1nlly2f .rs__cell.rs__header>:first-of-type{
  color: white !important;
}

//.render-event-on-calender{
//  margin:10px;
//}

/*.css-1ps6pg7-MuiPaper-root :has(.render-event-on-calender) {*/
/*  margin:10px;*/
/*}*/

.css-z3jy29 .rs__cell .rs__event__item {
  //margin-top:-10px;
}
.css-10d1a0h-MuiButtonBase-root{
  height: 90%;
}
.css-1ps6pg7-MuiPaper-root{
  height: 94% !important;
}
.css-10d1a0h-MuiButtonBase-root{
  height: 94% !important;
}
/*.css-z3jy29 .rs__cell :nth-child(2){*/
/*  !*background-color: black;*!*/
/*  !*margin-left: 100px;*!*/
/*}*/
/*.css-z3jy29 .rs__cell :nth-child(3){*/
/*  background-color: black;*/
/*  margin-left: 20px;*/
/*}*/

/*.css-z3jy29 .rs__cell .rs__event__item :nth-child(3){*/
/*  background-color: black;*/
/*  margin-left: 10px !important;*/
/*}*/

/*.css-1nlly2f .rs__cell{*/
/*  width: 300px !important;*/
/*}*/

/*.css-1nlly2f .rs__cell.rs__time{*/
/*  width: 130px !important;*/
/*}*/


/*#weekRender{*/
/*  !*width: 200px;*!*/
/*  !*height: 100px;*!*/
/*  background-color: green;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.css-z3jy29 .rs__cell.rs__time{*/
/*  height: 100px !important;*/
/*}*/
/*.css-z3jy29 .rs__cell:not(.rs__time){*/
/*  !*background-color: black;*!*/
/*  width: 300px;*/
/*  height: 100px;*/
/*}*/
/*.css-1ps6pg7-MuiPaper-root{*/
/*  height: 100px !important;*/
/*}*/

h6.MuiTypography-root.MuiTypography-subtitle2.MuiTypography-noWrap.css-llvhl4-MuiTypography-root{
  color: black;
}